/* ************************** */
/* VARIABLES for ALL */
/* ************************** */
body {
  --font:               #333333;
  --fontSecondary:      #ffffff;
  --background:         #ffffff;
  --backgroundSecondary:#F0F0F0;
  --elementPrimary:     #8360c3;
  --elementSecondary:   #2ebf91;
  --textShadow:         #333333;
  --boxShadow:          #777777;
  --border:             #888888;
  --buttonMail:         #EEAA7B;
  --linkedIn: dodgerblue;
  --hr:                   #D8D8D8;
  --devicesLogo:        #75B5FF;
  --devicesBackground:  #F0F0F0;

  --mainFont: 'Oswald', sans-serif;
  --secondFont: 'Roboto Condensed', sans-serif;
}

/* ************************** */
/* GENERAL STYLE */
/* ************************** */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}


/* ************************** */
/* NAVIGATION MENU */
/* ************************** */
.nav-menu {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.nav-menu .hamburger {
  display: none;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  float: right;
  margin: 20px 60px 0 0;
  padding: 0;
  list-style-type: none;
}

.nav-menu ul li {
  padding: 10px 25px;
  font-size: 22px;
  font-family: var(--secondFont);
  font-weight: 100;
  color: var(--fontSecondary);
  text-shadow: 0 1px 15px var(--textShadow);
  cursor: pointer;
}

.nav-menu ul li i {
  margin-right: 10px;
  font-size: 22px;
}

.nav-menu ul li:hover {
  color: var(--elementSecondary);
  animation: ease-in;
  transition: 0.3s;
}


/* ************************** */
/* INTRO */
/* ************************** */
.intro-box {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* INTRO TEXT */
.intro-box .intro-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.intro-box .intro-text .intro-text-box {
  margin-top: -70px;
  padding-left: 60px;
}

.intro-box .intro-text .intro-text-box h1 {
  font-size: 68px;
  color: var(--font);
  font-family: var(--mainFont);
}

.intro-box .intro-text .intro-text-box h1 span {
  color: var(--elementPrimary);
}

.intro-box .intro-text .intro-text-box p {
  font-size: 22px;
  line-height: 22px;
  color: var(--font);
  font-family: var(--secondFont);
  font-weight: 100;
}

.intro-box .intro-text .intro-text-box .newslatter {
  width: 300px;
  margin-top: 125px;
  font-size: 16px;
  font-family: var(--secondFont);
  color: var(--elementPrimary);
}

.intro-box .intro-text .intro-text-box .intro-subscribe {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.intro-box .intro-text .intro-text-box .intro-subscribe input {
  width: 300px;
  height: 35px;
  padding: 5px 20px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 2px 20px var(--boxShadow);
}

.intro-box .intro-text .intro-text-box .intro-subscribe button {
  position: relative;
  width: 45px;
  height: 45px;
  left: -40px;
  border: none;
  border-radius: 100%;
  background-color: var(--buttonMail);
  cursor: pointer;
}

.intro-box .intro-text .intro-text-box .intro-subscribe button:hover {
  box-shadow: 2px 3px 10px var(--boxShadow);
  animation: ease-in;
  transition: 0.5s;
}

.intro-box .intro-text .intro-text-box .intro-subscribe button i {
  color: var(--fontSecondary);
  font-size: 24px;
}

/* INTRO IMAGE */
.intro-box .intro-image {
  flex: 3;
  background-image: url('/assets/img/cover.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 32% 100%, 13% 30%);
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 32% 100%, 13% 30%);
  z-index: 0;
}

.intro-box .intro-image .image-bg {
  width: 100%;
  height: 100vh;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
  opacity: 0.7;
}

/* ************************** */
/* PLATFORM  */
/* ************************** */
.platform-devices {
  background-color: var(--devicesBackground);
}

.platform-box {
  width: 70%;
  margin: auto;
  padding: 40px 60px;
  text-align: center;
}

.platform-box h1 {
  margin: 0;
  font-size: 46px;
  font-weight: 100;
  color: var(--font);
  font-family: var(--mainFont);
}

.platform-box hr {
  border: 0.5px solid var(--elementPrimary);
  margin-bottom: 2rem;
}

.platform-box p {
  font-size: 18px;
  line-height: 18px;
  color: var(--font);
  font-family: var(--secondFont);
  font-weight: 100;
}

.platform-box p span {
  color: var(--elementSecondary);
}

/* ************************** */
/* DEVICES */
/* ************************** */
.devices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 350px;
  margin: 50px auto 0 auto;
  background-color: var(--devicesBackground);
}

.devices .fab {
  color: var(--elementSecondary);
  font-size: 42px;
}

/* ************************** */
/* FEATURES */
/* ************************** */
.featureContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
}

.featureContent .featuresBox {
  display: flex;
  margin: auto;
  width: 80%;
}

.featureContent .featuresBox .features {
  height: auto;
  width: 240px;
  margin: 20px 30px;
  text-align: center;
}

.featureContent .featuresBox .features .fas {
  margin-top: 30px;
  font-size: 56px;
}

.featureContent .featuresBox .features h3 {
  margin-top: 15px;
  font-weight: 100;
  font-family: var(--mainFont);
  color: var(--elementPrimary);
}

.featureContent .featuresBox .features p {
  margin-top: 10px;
  font-size: 17px;
  letter-spacing: 0.5px;
  line-height: 1.3;
  color: var(--font);
  font-family: var(--secondFont);
}

/* ************************** */
/* TEAM */
/* ************************** */
.team-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.team-box h1 {
  font-family: var(--mainFont);
}

.team-box hr {
  border: 0.5px solid var(--elementPrimary);
  margin-bottom: 2rem;
}

.team-box .team-card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.team-box .team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 450px;
  box-shadow: 1px 2px 15px var(--boxShadow);
}

.team-box .team-card .team-bg {
  width: 250px;
  height: 350px;
  margin-bottom: -240px;
  background: #373B44;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);
  background: linear-gradient(to right, #4286f4, #373B44);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 40%);
  clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 40%);
}

.team-box .team-card .team-bg-2 {
  width: 250px;
  height: 350px;
  margin-bottom: -240px;
  background: #333333;
  background: -webkit-linear-gradient(to right, #dd1818, #333333);
  background: linear-gradient(to right, #dd1818, #333333);
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 40%);
  clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 40%);
}

.team-box .team-card .team-photo {
  position: absolute;
  margin-top: 55px;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  margin-bottom: 10px;
}

.team-box .team-card .team-text {
  margin-top: 50px;
  padding: 10px 20px;
  text-align: center;
}

.team-box .team-card .team-text h3 {
  font-size: 22px;
  font-family: var(--mainFont);
  color: var(--elementPrimary);
}

.team-box .team-card .team-text h5 {
  margin: 10px 0;
  font-size: 16px;
}

.team-box .team-card .team-text p {
  font-family: var(--secondFont);
  color: var(--font);
}


/* **************************************************************** */
/* TABLET */
/* **************************************************************** */
@media only screen  and (max-width: 990px) {

  .nav-menu {
    position: absolute;
    margin: 0;
    z-index: 5;
  }

  .nav-menu .hamburger {
    display: block;
    position: absolute;
    right: 30px;
    margin: 30px 20px;
    z-index: 5;
  }

  .nav-menu ul {
    flex-direction: column;
    margin-top: 300px;
    display: none;
  }

  .nav-menu ul li {
    padding: 20px 20px;
    font-size: 32px;
  }

  .nav-menu ul li i{
    margin-right: 10px;
    font-size: 32px;
  }

  .intro-box .intro-text .intro-text-box {
    margin-top: -150px;
  }

  .intro-box .intro-image .image-bg {
    opacity: 0.8;
  }

  .featureContent .featuresBox {
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

/* **************************************************************** */
/* MOBILE */
/* **************************************************************** */
@media only screen  and (max-width: 414px) {

  .nav-menu {
    position: absolute;
    margin: 0;
    z-index: 5;
  }

  .nav-menu .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    margin: 10px;
    z-index: 5;
  }

  .nav-menu ul {
    margin: auto;
    padding-top: 40px;
    float: none;
    text-align: center;
    background-color: var(--background);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 1px 0 15px var(--boxShadow);
    display: none;
  }

  .nav-menu ul li {
    padding: 20px 20px;
    font-size: 22px;
    color: var(--font);
    text-shadow: none;
  }

  .nav-menu ul li i{
    margin-right: 10px;
    font-size: 22px;
  }

  .intro-box {
    display: flex;
    flex-direction: column;
  }

  .intro-box .intro-text {
    background-image: url('/assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .intro-box .intro-text .image-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #8360c3;
    background: -webkit-radial-gradient(circle, #2ebf91, #8360c3);
    background: radial-gradient(circle, #2ebf91, #8360c3);
    opacity: 0.3;
  }

  .intro-box .intro-text .intro-text-box {
    width: 80%;
    margin-top: 0;
    margin: auto;
    padding: 0;
  }

  .intro-box .intro-text .intro-text-box .mobile-text {
    margin-top: 80px;
    padding:  20px 10px;
    text-align: center;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .intro-box .intro-text .intro-text-box h1 {
    margin: 0;
    font-size: 52px;
    color: var(--font);
  }

  .intro-box .intro-text .intro-text-box h1 span {
    color: var(--elementSecondary);
  }

  .intro-box .intro-text .intro-text-box p {
    font-size: 18px;
    line-height: 18px;
    color: var(--font);
  }

  .intro-box .intro-text .intro-text-box .newslatter {
    width: 80%;
    margin: 70px auto 0 auto;
    text-align: center;
    font-size: 14px;
    font-family: var(--secondFont);
    color: var(--font);
  }

  .intro-box .intro-text .intro-text-box form .intro-subscribe {
    display: flex;
    flex-direction: row;
  }

  .intro-box .intro-text .intro-text-box form .intro-subscribe button {
    width: 55px;
    height: 45px;
    left: 0;
    margin-left: 10px;
  }

  .intro-box .intro-image {
    display: none;
  }

  .platform-box {
    width: 85%;
    padding: 40px 0;
  }

  .devices {
    width: 100%;
  }

  .featureContent .featuresBox {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .featureContent .featuresBox .features {
    width: 80%;
  }

  .team-box .team-card-box {
    flex-direction: column;
  }

  .team-box .team-card-box .team-card {
    width: 100%;
    margin: 0 auto 50px 0;
  }

  .team-box .team-card .team-bg {
    width: 100%;
  }

  .team-box .team-card .team-bg-2 {
    width: 100%;
  }

}
